<div>
  <div>
    <h1>
      List of all my comments
    </h1>
  </div>
</div>

<div>
  <div>
    <table class="table">
      <tr>

        <th scope="col">
          Piece
        </th>

        <th scope="col">
          Comment
        </th>

        <th scope="col">
          Posted at
        </th>

        <th scope="col">
          Details
        </th>
      </tr>

      <% @list_of_comments.each do |a_comment| %>
      <tr>

        <td>
          <%= a_comment.piece.title %>
        </td>

        <td>
          <%= a_comment.comment_text %>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>

        <td>
          <a href="/comments/<%= a_comment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post">
      <div>
        <label for="piece_id_box">
          Piece
        </label>

        <input type="text" name="query_piece_id" id="piece_id_box" list="piece_id_box_list" />
        <datalist id="piece_id_box_list">
          <% @list_of_pieces.each do |a_piece| %>
            <% if a_piece.composer != nil %>
              <option value="<%=a_piece.title+" - "+a_piece.composer.name%>">
            <% else %>
              <option value="<%=a_piece.title+" - "+"Anonymous"%>">
            <% end %>
          <% end %>
        </datalist>

        <!-- <select name="query_piece_id" id="piece_id_box" class="form-select form-select-lg mb-3" aria-label="Default select example">
          <option disabled selected value> -- select an option -- </option>
          <% @list_of_pieces.each do |a_piece| %>
            <option value="<%=a_piece.id%>">
              <% if a_piece.composer != nil %>
                <%=a_piece.title+" - "+a_piece.composer.name%>
              <% else %>
                <%=a_piece.title+" - "+"Anonymous"%>
              <% end %>
            </option>
          <% end %>
        </select>-->

      </div>

      
      <div>
        <label for="comment_text_box">
          Comment
        </label>

        <input type="text" id="comment_text_box" name="query_comment_text">
      </div>
      

      <button>
        Create comment
      </button>
    </form>
  </div>
</div>