<div>
  <div>
    <h1>
      Your comment on <%= @the_comment.piece.title %>
    </h1>

    <div>
      <div>
        <a href="/comments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Piece
      </dt>
      <dd>
        <%= @the_comment.piece.title %>
      </dd>

      <dt>
        Comment
      </dt>
      <dd>
        <%= @the_comment.comment_text %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <input type="hidden" id="piece_id_box" name="query_piece_id" value="<%= @the_comment.piece_id%>">

      <div>
        <label for="comment_text_box">
          Comment
        </label>

        <input type="text" id="comment_text_box" name="query_comment_text" value="<%= @the_comment.comment_text %>">
      </div>

      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
