<div>
  <div>
    <h1>
      <%= @the_composer.name %> details
    </h1>

    <div>
      <div>
        <a href="/composers">
          Go back
        </a>
      </div>

      <!--
      <div>
        <a href="/delete_composer/<%= @the_composer.id %>">
          Delete composer
        </a>
      </div>
      -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_composer.name %>
      </dd>

      <dt>
        Era
      </dt>
      <dd>
        <%= @the_composer.era %>
      </dd>

      <dt>
        Pieces count
      </dt>
      <dd>
        <%= @the_composer.pieces_count %>
      </dd>

      <!--
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_composer.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_composer.updated_at) %> ago
      </dd>
      -->
    </dl>
  </div>
</div>

<hr>

<% if @current_user != nil%>
  <div>
    <div>
      <h2>
        Edit composer
      </h2>

      <form action="/modify_composer/<%= @the_composer.id %>"  method="post" >
        <div>
          <label for="name_box">
            Name
          </label>

          <input type="text" id="name_box" name="query_name" value="<%= @the_composer.name %>">
        </div>

        <div>
          <label for="era_box">
            Era
          </label>

          <select name="query_era" id="era_box">
            <option value="Not Applicable" <% if @the_composer.era == "Not Applicable"; %> selected <% end %>>
              Not Applicable
            </option>
            <option value="Medieval" <% if @the_composer.era == "Medieval";  %> selected <% end %>>
                Medieval
            </option>
            <option value="Renaissance" <% if @the_composer.era == "Renaissance";  %> selected <% end %>>
                Renaissance
            </option>
            <option value="Baroque" <% if @the_composer.era == "Baroque";  %> selected <% end %>>
                Baroque
            </option>
            <option value="Classical" <% if @the_composer.era == "Classical";  %> selected <% end %>>
                Classical
            </option>
            <option value="Romantic" <% if @the_composer.era == "Romantic";  %> selected <% end %>>
                Romantic
            </option>
            <option value="Contemporary" <% if @the_composer.era == "Contemporary";  %> selected <% end %>>
                Contemporary
            </option>
          </select>
        </div>

        <!--
        <div>
          <label for="pieces_count_box">
            Pieces count
          </label>

          <input type="text" id="pieces_count_box" name="query_pieces_count" value="<%= @the_composer.pieces_count %>">
        </div>
        -->

        <button>
          Update composer
        </button>
      </form>
    </div>
  </div>
  <hr>
<% end %>


