<div>
  <div>
    <h1>
      <%= @the_piece.title %> details
    </h1>

    <div>
      <div>
        <a href="/pieces">
          Go back
        </a>
      </div>

      <% if @current_user != nil %>
        <% if @fav %>
          <a href="/delete_favorite/<%=@fav.id%>" method="get">
              Un-Favorite
          </a>
        <% else %>
          <form action="/insert_favorite" method="post">
            <input type="hidden" value="<%=@the_piece.id%>" id="piece_id_box" name="query_piece_id" class="form-control">
            <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id%>">
            <button class="btn btn-block btn-outline-secondary">
              Favorite this piece
            </button>
          </form>
        <% end %>
      <% end %>

      <!--
      <div>
        <a href="/delete_piece/<%= @the_piece.id %>">
          Delete piece
        </a>
      </div>
      -->
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_piece.title %>
      </dd>

      <dt>
        Composer
      </dt>
      <dd>
        <% if @the_piece.composer != nil %>
          <%= @the_piece.composer.name %>
        <% end %>
      </dd>

      <dt>
        Arranger
      </dt>
      <dd>
        <% if @the_piece.arranger != nil %>
          <%= @the_piece.arranger.name %>
        <% end %>
      </dd>

      <dt>
        Average Rating
      </dt>
      <dd>
        <%= @the_piece.ratings.average(:score) %>
      </dd>

      <dt>
        Favorites count
      </dt>
      <dd>
        <%= @the_piece.favorites_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_piece.comments_count %>
      </dd>

      <!--
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_piece.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_piece.updated_at) %> ago
      </dd>
      -->

    </dl>
  </div>
</div>

<hr>

<% if @current_user != nil%>
  <div>
    <div>
      <h2>
        Edit piece
      </h2>

      <form action="/modify_piece/<%= @the_piece.id %>"  method="post" >
        <div>
          <label for="title_box">
            Title
          </label>

          <input type="text" id="title_box" name="query_title" value="<%= @the_piece.title %>">
        </div>

        <div>
          <label for="composer_id_box">
            Composer
          </label>

          <select name="query_composer_id" id="composer_id_box">
            <% @list_of_composers.each do |a_composer| %>
              <option value="<%=a_composer.id%>">
                <%=a_composer.name%>
              </option>
            <% end %>
          </select>

        </div>

        <div>
          <label for="arranger_id_box">
            Arranger
          </label>

          <select name="query_arranger_id" id="arranger_id_box">
            <% @list_of_arrangers.each do |a_arranger| %>
              <option value="<%=a_arranger.id%>">
                <%=a_arranger.name%>
              </option>
            <% end %>
          </select>

        </div>

        <!--
        <div>
          <label for="ratings_count_box">
            Ratings count
          </label>

          <input type="text" id="ratings_count_box" name="query_ratings_count" value="<%= @the_piece.ratings_count %>">
        </div>

        <div>
          <label for="favorites_count_box">
            Favorites count
          </label>

          <input type="text" id="favorites_count_box" name="query_favorites_count" value="<%= @the_piece.favorites_count %>">
        </div>

        <div>
          <label for="comments_count_box">
            Comments count
          </label>

          <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_piece.comments_count %>">
        </div>
        -->

        <button>
          Update piece
        </button>
      </form>
    </div>
  </div>
  <hr>
<% end %>



<% if @current_user != nil && @rating_exists == nil %>
  <h2>
    Rate this piece
   </h2>

  <form action="/insert_rating" method="post">

    <div>
      <label for="score_box">
        Score
      </label>

      <select name="query_score" id="score_box">
        <% 1.upto(10) do |i| %>
          <option value="<%=i%>">
            <% if i == 1 %>
              <%=i%> - Easiest
            <% elsif i == 10 %>
              <%=i%> - Hardest
            <% else %>
              <%=i%>
            <% end %>
          </option>
        <% end %>
      </select>
    </div>

    <input type="hidden" value="<%=@the_piece.id%>" id="piece_id_box" name="query_piece_id" class="form-control">

    <button>
      Create rating
    </button>
  </form>
  <hr>
<% end %>



<% if @current_user != nil %>
  <h2>
    Add a new comment
  </h2>

  <form action="/insert_comment" method="post">
    <input type="hidden" value="<%=@the_piece.id%>" id="piece_id_box" name="query_piece_id" class="form-control">
    <input type="hidden" id="user_id_box" name="query_user_id" value="<%=@current_user.id%>">

    <div>
      <label for="comment_text_box">
        Comment
      </label>

      <input type="text" id="comment_text_box" name="query_comment_text">
    </div>

    <button>
      Create comment
    </button>
  </form>

  <hr>
<% end %>

<h2>
  Comments for <%=@the_piece.title%>
</h2>
<table>
  <tr>
    <th>
      Comment
    </th>

    <th>
      Posted at
    </th>

  </tr>

  <% @list_of_comments.each do |a_comment| %>
  <tr>
    <td>
      <%= a_comment.comment_text %>
    </td>

    <td>
      <%= time_ago_in_words(a_comment.updated_at) %> ago
    </td>

  </tr>
  <% end %>
</table>
