<div>
  <div>
    <h1>
      List of all ratings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new rating
    </h2>

    <form action="/insert_rating" method="post">
      <!--
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>
      -->

      <div>
        <label for="score_box">
          Score
        </label>

        <select name="query_score" id="score_box">
          <% 1.upto(10) do |i| %>
            <option value="<%=i%>">
              <% if i == 1 %>
                <%=i%> - Easiest
              <% elsif i == 10 %>
                <%=i%> - Hardest
              <% else %>
                <%=i%>
              <% end %>
            </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="piece_id_box">
          Piece
        </label>

        <select name="query_piece_id" id="piece_id_box">
          <option disabled selected value> -- select an option -- </option>
          <% @list_of_pieces.each do |a_piece| %>
            <option value="<%=a_piece.id%>">
              <% if a_piece.composer != nil %>
                <%=a_piece.title+" - "+a_piece.composer.name%>
              <% else %>
                <%=a_piece.title+" - "+"Anonymous"%>
              <% end %>
            </option>
          <% end %>
        </select>

      </div>

      <button>
        Create rating
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <!--
        <th>
          ID
        </th>

        <th>
          User
        </th>
        -->

        <th>
          Piece
        </th>

        <th>
          Score
        </th>

        <!--
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
        -->

        <th>
        </th>
      </tr>

      <% @list_of_ratings.each do |a_rating| %>
      <tr>
        <!--
        <td>
          <%= a_rating.id %>
        </td>

        <td>
          <%= a_rating.user_id %>
        </td>
        -->

        <td>
          <%= a_rating.piece.title %>
        </td>

        <td>
          <%= a_rating.score %>
        </td>

        <!--
        <td>
          <%= time_ago_in_words(a_rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_rating.updated_at) %> ago
        </td>
        -->

        <td>
          <a href="/ratings/<%= a_rating.id %>">
            Show details
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
