<div>
  <div>
    <h1>
      My Rating of <%= @the_rating.piece.title %>
    </h1>

    <div>
      <div>
        <a href="/ratings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_rating/<%= @the_rating.id %>">
          Delete rating
        </a>
      </div>
    </div>

    <dl>
      <!--
      <dt>
        User
      </dt>
      <dd>
        <%= @the_rating.user_id %>
      </dd>
      -->

      <dt>
        Piece
      </dt>
      <dd>
        <%= @the_rating.piece.title %>
      </dd>

      <dt>
        Score
      </dt>
      <dd>
        <%= @the_rating.score %>
      </dd>

      <!--
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_rating.updated_at) %> ago
      </dd>
      -->
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit rating
    </h2>

    <form action="/modify_rating/<%= @the_rating.id %>"  method="post" >
      <!--
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_rating.user_id %>">
      </div>
      -->

      <div>
        <label for="score_box">
          Score
        </label>

        <select name="query_score" id="score_box">
          <% 1.upto(10) do |i| %>
            <option value="<%=i%>">
              <% if i == 1 %>
                <%=i%> - Easiest
              <% elsif i == 10 %>
                <%=i%> - Hardest
              <% else %>
                <%=i%>
              <% end %>
            </option>
          <% end %>
        </select>
      </div>

      <div>
        <!--
        <label for="piece_id_box">
          Piece
        </label>
        -->
        <input type="hidden" id="piece_id_box" name="query_piece_id" value="<%= @the_rating.piece_id %>">
      </div>

      <button>
        Update rating
      </button>
    </form>
  </div>
</div>

<hr>
